---
title: Home
sort: 1
h1: 'Aim of school'
lead: Welcome to my blog!
---
<div class="jumbotron">
    <!--    <img class="col-sm-6 img-responsive img-rounded" src="assets/img/56.jpg" alt="Really cool image">-->
    <div id="home-hero" class="row">
        <div id="carousel" class="carousel slide col-sm-5 col-lg-4 hidden-xs" data-ride="carousel" data-interval="4000">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                  <img src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/detektori/ispy-run139779-evt4994190-v1-Copyright-hires-small.png" alt="CMS Experiment at the LHC, Cern">
                </div>
                <div class="item">
                  <img src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/detektori/ATLAS event-small.png" alt="Atlas event">
                </div>
                <div class="item">
                  <img src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/detektori/ATLAS-small.jpg" alt="Atlas event">
                </div>
                <div class="item">
                  <img src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/detektori/CMS-small.jpg" alt="CMS detector">
                </div>
                <div class="item">
                  <img src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/detektori/CMS event-small.png" alt="CMS event">
                </div>
                <div class="item">
                  <img src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/detektori/CMS2-small.jpg" alt="CMS detector">
                </div>
                <div class="item">
                  <img src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/detektori/CMS_LHCb-small.jpg" alt="CMS LHCb detector">
                </div>
                <div class="item">
                  <img src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/detektori/test6-small.png" alt="Test 6">
                </div>
            </div>
        </div>

              
        <div id="carousel2" class="carousel slide clearfix col-sm-6 col-lg-5 col-sm-offset-1 col-lg-offset-3" data-ride="carousel" data-interval="8000">
            <div class="carousel-inner">
                <!-- <div class="item active">
                    <h1>Registration Desk</h1>
                    <p>
                        Dear participants,<br>
                        Registration desk will be open on Monday, 8th September 2014, at 8 o'clock in the central building of The University of Novi Sad, Bul.Zorana Djindjica 1 (<a href="{{assets}}/img/registration-map.jpg" target="_blank">check map <span class="small glyphicon glyphicon-download"></span></a>). Opening ceremony and also the first block of lectures will be held at the same building.
                    </p>
                    <p>
                        Looking forward to welcome you on Monday morning.
                    </p>
                </div> -->
                <div class="item active">
                    <h1>{{ h1 }}</h1>
                    <p>The aim of school is to bring together graduate students from <em>Universities</em>, from the whole <em>Danube region</em> and <em>the International community</em>. The school is an equal opportunity intended for MSc, PhD students and postdocs who want to aquire "hands-on" experience in different detector technologies used in Particle Physics and Nuclear Physics, as well.</p>
                    <!-- <p><a href="registration.html" class="btn btn-warning btn-lg col-xs-6 col-xs-offset-6 col-md-4 col-md-offset-8" role="button">Register &raquo;</a></p> -->
                </div>
            </div>
            <!-- Controls -->
              <!-- <a class="left carousel-control" href="#carousel2" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel2" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a> -->
        
        </div>

    </div>
</div>

<section id="main">
    <div class="row">
        <article class="col-md-4 col-sm-6">
            <h2>Danube School Ended...</h2>
            <noscript>
                <img class="img-responsive img-rounded" src="{{assets}}/img/gallery/DSC_6070.jpg" alt="Group picture of participants">
            </noscript>
            <img class="img-responsive img-rounded" src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/gallery/DSC_6070.jpg" alt="Group picture of participants">
            <p>"Danube School on Instrumentation in Elementary Particle & Nuclear Physics" ended! We hope that all participants enjoyed visiting Serbia and Novi Sad. The School hosted 58 participants, 7 review talks, 8 topics in lecture programme and 8 laboratory courses. Thanks to all participants, lecturers and organizers who contributed to make this school successful.
            </p>
        </article>
        <article class="col-md-4 col-sm-6">
            <h2>Scope</h2>
            <noscript>
                <img class="img-responsive img-rounded" src="{{assets}}/img/ns/05-NS-small.jpg" alt="Picture of Petrovaradin, Novi Sad">
            </noscript>
            <img class="img-responsive img-rounded" src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/ns/05-NS-small.jpg" alt="Picture of Petrovaradin, Novi Sad">
            <p>The aim of “Danube School on Instrumentation in Elementary Particle & Nuclear Physics” is to bring together graduate students from Universities, from the whole Danube region and the International community. The school is an equal opportunity event intended for MSc, PhD students and postdocs who want to acquire hands on experience in different detector technologies used in Particle Physics and Nuclear Physics, as well. Researchers who are actively involved in the field and are recognized experts in detector R&D, will give lectures and state-of-art laboratory sessions. A second very important aim of this school is to promote future collaborations between young physicists working in the same or similar areas of research. Students are encouraged to attend, contribute and share their experience.
            </p>
        </article>
        <article class="col-md-4 col-sm-6 ">
            <h2>Venue</h2>
            <noscript>
                <img class="img-responsive img-rounded" src="{{assets}}/img/unskampus.jpg" alt="University of Novi Sad Campus">
            </noscript>
            <img class="img-responsive img-rounded" src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/unskampus.jpg" alt="University of Novi Sad Campus">            
            <p></p>The University of Novi Sad is a contemporary educational, scientific and art institution, with around 50 thousands students at three levels of studies and 3,500 teaching staff at 350 study programmes. For many years the University has been intensively developing international cooperation with universities and other institutions in the area of higher education, scientific and research activities from Europe and the world. It has presided over the Danube Rectors’ Conference in 2010 and is a member of many other international organizations, such as the European University Association, European University Foundation, Balkan Universities Network, the Alpe Adria Initiative Universities’ Network etc...
            </p>
        </article>
        <div class="clearfix visible-sm"></div>
         <article class="col-md-4 col-sm-6 ">
            <h2>School Poster</h2>
            <a href="{{assets}}/DanubeSchool_poster_A3_Q.pdf"><noscript><img class="img-responsive img-rounded" src="{{assets}}/img/DanubeSchool_poster_A3_72px.png" alt="School Poster"></noscript><img class="img-responsive img-rounded" src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/DanubeSchool_poster_A3_72px.png" alt="School Poster"></a>
        </article>
        <!-- <article class="col-md-4 col-sm-6 ">
            <h2>Topics</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, molestiae, ducimus, quidem, odit rem dolore cum sapiente dolor facilis reiciendis necessitatibus fugiat libero iure maiores dignissimos voluptates nobis commodi numquam!
                lorem</p>
        </article>
        <article class="col-md-4 col-sm-6 ">
            <h2>Registration</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, molestiae, ducimus, quidem, odit rem dolore cum sapiente dolor facilis reiciendis necessitatibus fugiat libero iure maiores dignissimos voluptates nobis commodi numquam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, magnam deleniti architecto excepturi nemo nostrum quidem aliquid doloribus iste dolorem atque amet non velit blanditiis ex laudantium eligendi. Neque, soluta?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, aspernatur, expedita, velit, incidunt reprehenderit corporis laudantium harum aut enim fugiat reiciendis unde quis fuga debitis animi magnam nihil deserunt beatae.</p>
        </article>
        <article class="col-md-4 col-sm-6 ">
            <h2>Travel &amp; Accomodation</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, molestiae, ducimus, quidem, odit rem dolore cum sapiente dolor facilis reiciendis necessitatibus fugiat libero iure maiores dignissimos voluptates nobis commodi numquam!</p>
        </article>
        <article class="col-md-4 col-sm-6 ">
            <h2>Contact</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, molestiae, ducimus, quidem, odit rem dolore cum sapiente dolor facilis reiciendis necessitatibus fugiat libero iure maiores dignissimos voluptates nobis commodi numquam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, aut, quasi, eligendi incidunt ullam ducimus iure velit est pariatur dicta placeat nostrum quos quibusdam aliquam quia asperiores omnis earum sapiente?</p>
        </article> -->
    </div>
</section>
