---
title: Topics
sort: 4
posts: ['src/content/Topics - Review.md','src/content/Topics - Lectures.md','src/content/Topics - Laboratories.md']
---
<div class="jumbotron row">
  <div id="carousel" class="carousel slide col-sm-8 col-sm-offset-2" data-ride="carousel" data-interval="4000">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                  <img src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/detektori/ispy-run139779-evt4994190-v1-Copyright-hires.jpg" alt="CMS Experiment at the LHC, Cern">
                </div>
                <div class="item">
                  <img src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/detektori/ATLAS event.jpg" alt="Atlas event">
                </div>
                <div class="item">
                  <img src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/detektori/ATLAS event2.jpg" alt="Atlas event">
                </div>
                <div class="item">
                  <img src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/detektori/ATLAS.jpg" alt="Atlas detector">
                </div>
                <div class="item">
                  <img src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/detektori/CMS event.jpg" alt="CMS event">
                </div>
                <div class="item">
                  <img src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/detektori/CMS.jpg" alt="CMS detector">
                </div>
                <div class="item">
                  <img src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/detektori/CMS2.jpg" alt="CMS detector">
                </div>
                <div class="item">
                  <img src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/detektori/CMS_LHCb.jpg" alt="CMS LHCb detector">
                </div>
                <div class="item">
                  <img src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/detektori/test6.jpg" alt="Test 6">
                </div>
                <div class="item">
                  <img src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/detektori/Alice 2.jpg" alt="Alice">
                </div>
                 <div class="item">
                  <img src="{{assets}}/img/loader.gif" data-src="{{assets}}/img/detektori/ATLAS and CMS.jpg" alt="ATLAS and CMS detectors">
                </div>
            </div>
        </div>
</div>
<section class="topics" id="main">
  <div class="row">
    {{#each posts}}
    <article class="col-lg-4 col-md-6">
      {{md this }}
    </article>
    {{/each}}
    <article class="col-sm-12">
      <h3>Laboratories' scripts</h3>
      <p>Below you can download scripts from laboratories programme</p>
      <ul>
        <li><a href="assets/labs/Lab 1_Sipad.pdf">Hands-on: Silicon Pad Detectors <span class="glyphicon glyphicon-download"></span></a></li>
        <li><a href="assets/labs/Lab 1_TPX.pdf">Study of the characteristic X‐ray spectra using silicon hybrid pixel detector <span class="glyphicon glyphicon-download"></span></a></li>
        <li><a href="assets/labs/Lab 2-ALIBAVA.pdf">Silicon detectors for particle physics laboratory <span class="glyphicon glyphicon-download"></span></a></li>
        <li><a href="assets/labs/Lab 4_RPC.pdf">The Resistive Plate Chamber detectors at the Large Hadron Collider experiments <span class="glyphicon glyphicon-download"></span></a></li>
        <li><a href="assets/labs/Lab 5 - coffeecandetector_instructions.pdf">COCADE – Coffee Can Detector <span class="glyphicon glyphicon-download"></span></a></li>
        <li><a href="assets/labs/Lab 6_RICH.pdf">MEASUREMENT OF CHERENKOV RINGS WITH MULTIANODE PHOTOMULTIPLIERS <span class="glyphicon glyphicon-download"></span></a></li>
        <li><a href="assets/labs/Lab 7_SIPM.pdf">Characterization of Silicon Photomultipliers <span class="glyphicon glyphicon-download"></span></a></li>
        <li><a href="assets/labs/Lab 8_FPGA.pdf">FPGA programming <span class="glyphicon glyphicon-download"></span></a></li>
      </ul>
    </article>
    <article class="col-sm-12">
      <div class="table-responsive">
      <h3>Programme</h3>
      <table class="table table-focus table-condensed programme">
        <thead>
          <tr>
            <th></th><th>Monday 8</th><th>Tuesday 9</th><th style="width:3em;">Wed 10</th><th>Thursday 11</th><th>Friday 12</th><th>Saturday 13</th><th style="width:3em">Sun 14</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>8:00</td><td>Registration</td><td></td><td rowspan="12" style="vertical-align:middle;padding-left:2em;padding-right:2em;word-break:break-all;font-weight:bold;white-space:pre-wrap;">Free day</td><td></td><td></td><td></td><td rowspan="12" style="vertical-align:middle;padding-left:2em;padding-right:2em;word-break:break-all;font-weight:bold;white-space:pre-wrap;">Departure</td></tr>
          <tr><td>8:30-9:30</td><td class="success"><a href="assets/talks/A.Belic_CERN-Serbia.pdf">Opening</a></td><td class="success"><a href="assets/talks/novisad2014_riegler.pdf">Particle int.</a></td><td class="success"><a href="assets/talks/Calorimetry_Paramatti_DanubeSchool.pdf">Calorimetry</a></td><td class="success"><a href="assets/talks/neutrinos-Novi-Sad.pdf">Neutrino Physics</a></td><td class="success"><a href="assets/talks/2014.09.12_electronics_friedl.pdf">Electronics</a></td></tr>
          <tr><td>9:30-10:30</td><td class="success"><a href="assets/talks/HiggsTalk.pdf">Higgs Boson</a></td><td class="success"><a href="assets/talks/novisad2014_riegler.pdf">Particle int.</a></td><td class="success"><a href="assets/talks/Calorimetry_Paramatti_DanubeSchool.pdf">Calorimetry</a></td><td class="success"><a href="assets/talks/1209_1.pdf">Gaseous detectors</a></td><td class="success"><a href="assets/talks/2014.09.12_electronics_friedl.pdf">Electronics</a></td></tr>
          <tr><td>10:30-11:00</td><td colspan="2">Coffee</td><td colspan="3">Coffee</td></tr>
          <tr><td>11:00-12:00</td><td class="success"><a href="assets/talks/NoviSad_Ingrid.pdf">Challenges for future experiments</a></td><td class="success"><a href="assets/talks/Ninkovic_CERNSchoolNoviSad.pdf">Silicon Detectors</a></td><td class="success"><a href="assets/talks/ParticleID-NS.pdf">PID</a></td><td class="success"><a href="assets/talks/1209_1.pdf">Gaseous detectors</a></td><td class="success"><a href="assets/talks/TenKate - CERN-Danube School Detectors Magnets (13Sep14)v3.pdf">Magnets</a></td></tr>
          <tr><td>12:00-13:00</td><td class="success"><a href="assets/talks/Pullia - Hadrons for cancer therapy at CNAO.pdf">Hadron - Therapy</a></td><td class="success"><a href="assets/talks/Ninkovic_CERNSchoolNoviSad.pdf">Silicon detectors</a></td><td class="success"><a href="assets/talks/Photodetectors-NS.pdf">Photo-detectors</a></td><td class="success"><a href="assets/talks/2014.09.12_electronics_friedl.pdf">Electronics</a></td><td class="success"><a href="assets/talks/TenKate - CERN-Danube School Detectors Magnets.pdf">Magnets</a></td></tr>
          <tr><td>13:00-14:30</td><td colspan="2">Lunch</td><td colspan="3">Lunch</td> </tr>
          <tr><td>14:30-15:30</td><td class="success"><a href="assets/talks/danube2014-krizan.pdf">B-Physics</a></td><td rowspan="5" style="vertical-align:middle;">Laboratory</td>
            <td rowspan="5" style="vertical-align:middle;">Laboratory</td><td rowspan="5" style="vertical-align:middle;">Laboratory</td>
            <td class="success"><a href="assets/talks/ICFA2014_MedicalPhysics.pdf">Medical appl.</a></td>
          </tr>
          <tr><td>15:30-16:30</td><td class="success"><a href="assets/talks/danube_schumann_web.pdf">Astroparticle</a></td><td class="success"><a href="assets/talks/ICFA2014_MedicalPhysics.pdf">Medical appl.</a></td></tr>
          <tr><td>16:30-17:00</td><td>Coffee</td><td>Coffee</td></tr>
          <tr><td>17:00-18:00</td><td class="success"><a href="assets/talks/DANUBE SCHOOL ON INSTRUMENTATION-NUCLEAR PHYSICS 7.pdf">Nuclear Physics</a></td><td style="vertical-align:middle;" rowspan="2" class="success"><a href="assets/talks/final.pdf">Round table on medical applications</a></td> </tr>
          <tr><td>18:00-19:00</td><td></td></tr>
          <tr><td></td><td>Welcome cocktail</td><td></td><td>School Dinner</td><td>Posters & beer</td><td></td><td></td><td></td></tr>
        </tbody>
      </table>  
    </div>

    </article>
    <article>
      <div class="col-sm-12">
      <h3>Tentative program of the free day</h3>
      <h4>Wednesday 10th September 2014</h4>
      <table class="table table-focus">
        <tr><td>8:00 </td><td>Departure for Belgrade by bus</td></tr>
        <tr><td>9:30 </td><td>Guided tour of Belgrade downtown, including Kalemegdan fortress</td></tr>
        <tr><td>11:00</td><td>Visit to the CERN Exhibition</td></tr>
        <tr><td>12:00</td><td>Lecture at University of Belgrade by Sergio Bertolucci, Director for Research and Computing, CERN</td></tr>
        <tr><td>14:00</td><td>Visit to the Institute of Physics (Zemun)</td></tr>
        <tr><td>16:30</td><td>Departure for Sremski Karlovci</td></tr>
        <tr><td>18:00</td><td>Guided tour of Sremski Karlovci</td></tr>
        <tr><td>20:00</td><td>School dinner at Sremski Karlovci</td></tr>
        <tr><td>22:00</td><td>Return to Novi Sad</td></tr>


      </table>
    </div>
    </article>
  </div>
</section>
