<!DOCTYPE html>
<html lang="en" class="no-js" manifest="site.appcache">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{title}} | {{site.title}}</title>
    
    <script>
        /*! eCSSential - v0.1.0 - 2012-06-08
        * https://github.com/scottjehl/eCSSential
        * Copyright (c) 2012 Scott Jehl, @scottjehl, Filament Group, Inc.; Licensed GPL, MIT; Includes matchMedia.js: http://j.mp/jay3wJ (MIT)  */
        window.matchMedia=window.matchMedia||function(a,b){var c,d=a.documentElement,e=d.firstElementChild||d.firstChild,f=a.createElement("body"),g=a.createElement("div");return g.id="mq-test-1",g.style.cssText="position:absolute;top:-100em",f.style.background="none",f.appendChild(g),function(a){return g.innerHTML='&shy;<style media="'+a+'"> #mq-test-1 { width: 42px; }</style>',d.insertBefore(f,e),c=g.offsetWidth===42,d.removeChild(f),{matches:c,media:a}}}(document),window.eCSSential=function(a,b){function o(a){var b=a===c?'<meta id="eCSS">':"",d='<link href="',e='" rel="stylesheet">',g=[],h=[];for(var i in a)a.hasOwnProperty(i)&&(g.push(a[i].href),h.push(a[i].href+'" media="'+a[i].mq));return f.concat?d+f.concat(g)+e+b:d+h.join('" '+e+d)+e+b}"use strict";var c=[],d=[],e=[],f=b||{},g=window,h=g.document,i=h.getElementsByTagName("script")[0],j=/(min|max)-(width|height)/gmi,k=g.navigator.appVersion.match(/MSIE ([678])\./)&&RegExp.$1,l=new RegExp("(IE"+k+")|(IE)","g");for(var m in a)if(a.hasOwnProperty(m)){var n=m.match(l);g.matchMedia(m).matches||k&&(f.oldIE||n&&n[1])?c.push({mq:f.oldIE||n?"all":m,href:a[m]}):!n&&(f.deferAll||!m.match(j)||g.matchMedia(m.replace(j,"$1-device-$2")).matches)&&d.push({mq:m,href:a[m]})}if(c.length){h.write(o(c)),i=h.getElementById("eCSS");var p=i.parentNode.getElementsByTagName("link");for(var q=0,r=p.length;q<r;q++)(function(a){var b=g.setTimeout(function(){var b=a.nextSibling;a.parentNode.removeChild(a),b.parentNode.insertBefore(a,b),e.push(a)},f.patience||8e3);a.onload=function(){clearTimeout(b)}})(p[q])}if(d.length){var s=h.createElement("div");s.innerHTML=o(d),i.parentNode.insertBefore(s,i)}return{css:a,config:b,block:c,defer:d,timedout:e}};
        
        eCSSential({
            "all": "{{assets}}/css/bootstrap.css",
            "screen": "{{assets}}/css/theme.css",
            "(min-width:1em)": "//fonts.googleapis.com/css?family=Kreon:300,400,700",
            "(min-width:2em)": "//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,latin-ext&subset=latin,latin-ext",
            "(min-width:1.2em)": "{{assets}}/css/lightGallery.css"
        });
    </script>
    <noscript>
    <!-- build:css assets/css/bootstrap.css -->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{assets}}/css/bootstrap.min.css">

    <!-- Bootstrap theme -->
    <link href="{{assets}}/css/bootstrap-theme.min.css" rel="stylesheet">
    
    <!-- Animate.css -->
    <link href="{{assets}}/css/animate.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{assets}}/css/pace.css">
    <!-- /build -->
    
    <!-- Custom styles for this template -->
    <link href="{{assets}}/css/theme.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Kreon:300,400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,latin-ext&subset=latin,latin-ext" rel="stylesheet">
    </noscript>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{assets}}/img/unsICO.ico" type="image/x-icon">

    <!--<script src="{{assets}}/js/heartcode-canvasloader-min-0.9.1.js"></script>-->

    <script src="{{assets}}/js/pace.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <style>
     body{font-size: 18px;-webkit-text-stroke: .15px; font-family: "PT Sans",Helvetica,Arial,sans-serif;line-height: 1.42857143;}
     h1,h2,h3,h4,h5,h6{font-family: Kreon,Georgia,"Times New Roman",Times,serif;}
    </style>
    
  </head>
  <body>
    <!-- Create a div which will be the canvasloader wrapper -->    
    <!-- <div id="canvasloader-container" class="wrapper"></div> -->
        
    <!-- This script creates a new CanvasLoader instance and places it in the wrapper div -->
    <!--<script type="text/javascript">
        var cl = new CanvasLoader('canvasloader-container');
        cl.setColor('#043834'); // default is '#000000'
        cl.setShape('spiral'); // default is 'oval'
        cl.show(); // Hidden by default
        
        // This bit is only for positioning - not necessary
        var loaderObj = document.getElementById("canvasLoader");
        loaderObj.style.position = "fixed";
        loaderObj.style["top"] = "0";
        loaderObj.style["bottom"] = "0";
        loaderObj.style["left"] = "0";
        loaderObj.style["right"] = "0";
        loaderObj.style["margin"] = "auto";
        loaderObj.style["width"] = cl.getDiameter() + "px";
        loaderObj.style["height"] = cl.getDiameter() + "px";

        document.getElementsByTagName('body')[0].className+=' loader';
        document.getElementsByTagName('html')[0].className+=' loader';
        document.getElementById('canvasloader-container').className+=' loader';
    </script>-->

    {{> navbar-fixed-top }}
    
    <div class="container-fluid theme-showcase" role="main">
        <aside id="important-info">
            <p class="alert alert-success animated bounce">School ended. Check out our gallery at <a href="/gallery.html">gallery page!<a></p>
        </aside>
        
        {{> body }}

    </div>

    <script>
        Pace.stop();
    </script>
    
    {{> footer }}

    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/jquery-1.11.0.min.js"><\/script>')</script>

    <!-- build:js assets/js/main.js -->
    <script src="{{assets}}/js/bootstrap.min.js"></script>
    <script src="{{assets}}/js/modernizr.js"></script>
    <script src="{{assets}}/js/fastclick.js"></script>
    <script src="{{assets}}/js/jquery.unveil.js"></script>
    <!-- /build -->

    <script type="text/javascript">
        /*document.addEventListener('DOMContentLoaded', function(){
            cloader=document.getElementById("canvasloader-container")
            cloader.classList.remove("loader");
            cloader=document.getElementsByTagName("html")
            cloader[0].classList.remove("loader");
            cloader=document.getElementsByTagName("body")
            cloader[0].classList.remove("loader");
            cl.hide();
        });*/

        $(document).ready(function(){
            $("img").unveil();
            
            $(function() {
                FastClick.attach(document.body);
            });

            var directions = $('#coming-to-serbia-by-plane ~ h4');
            directions.next().hide();
            directions.click(function(){$(this).next().slideToggle("");});

            $("img").trigger("unveil");
            $("#lightGallery").lightGallery({preload: 5});
            
            $("ul.nav li a").click(function(event){
                event.preventDefault();
                $("ul.nav li.active").removeClass("active");
                $(this).blur().parent().addClass("active");
                history.pushState("data","", $(this).attr("href"));
                document.title = $(this).text() +  " | Danube School on Instrumentation in Elementary Particle & Nuclear Physics";
                
                $(".navbar-collapse").removeClass("in");
                
                $("div.container-fluid.theme-showcase[role='main']")
                    .load($(this).attr("href") + " div.container-fluid.theme-showcase[role='main'] > *",
                    function(){
                        $(".carousel, .carousel2").carousel();
                        $("img").unveil();
                        $("img").trigger("unveil");
                        
                        $("#lightGallery").lightGallery({preload: 5});
                        
                        directions = $("#coming-to-serbia-by-plane ~ h4");
                        if (directions.length !== 0 ) {
                            directions.next().hide();
                            directions.click(function(){$(this).next().slideToggle("");});
                        }
                        
                    }).fadeIn();
            });
        });
    </script>
</body>
</html>
