<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{title}} | {{site.title}}</title>
    
    <!-- build:css assets/css/bootstrap.css -->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{assets}}/css/bootstrap.min.css">

    <!-- Bootstrap theme -->
    <link href="{{assets}}/css/bootstrap-theme.min.css" rel="stylesheet">
    
    <!-- Animate.css -->
    <link href="{{assets}}/css/animate.css" rel="stylesheet">
    <!-- /build -->
    
    <!-- Custom styles for this template -->
    <link href="{{assets}}/css/theme.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{assets}}/img/unsICO.ico" type="image/x-icon">

    <script src="{{assets}}/js/heartcode-canvasloader-min-0.9.1.js"></script>
        
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->


  </head>
  <body>
    <!-- Create a div which will be the canvasloader wrapper -->    
    <div id="canvasloader-container" class="wrapper"></div>
        
    <!-- This script creates a new CanvasLoader instance and places it in the wrapper div -->
    <script type="text/javascript">
        var cl = new CanvasLoader('canvasloader-container');
        cl.setColor('#043834'); // default is '#000000'
        cl.setShape('spiral'); // default is 'oval'
        cl.show(); // Hidden by default
        
        // This bit is only for positioning - not necessary
        var loaderObj = document.getElementById("canvasLoader");
        loaderObj.style.position = "fixed";
        loaderObj.style["top"] = "0";
        loaderObj.style["bottom"] = "0";
        loaderObj.style["left"] = "0";
        loaderObj.style["right"] = "0";
        loaderObj.style["margin"] = "auto";
        loaderObj.style["width"] = cl.getDiameter() + "px";
        loaderObj.style["height"] = cl.getDiameter() + "px";

        document.getElementsByTagName('body')[0].className+=' loader';
        document.getElementsByTagName('html')[0].className+=' loader';
        document.getElementById('canvasloader-container').className+=' loader';
    </script>

    {{> navbar-fixed-top }}
    
    <div class="container-fluid theme-showcase" role="main">
        <!-- <aside id="important-info">
            <p class="alert alert-success animated bounce">New: List of participants is now available <a href="/participants.html">here<a></p>
        </aside> -->
        
        {{> body }}

    </div>

    {{> footer }}

    
    <!-- build:js assets/js/main.js -->
    <script src="{{assets}}/js/jquery-1.11.0.min.js"></script>
    <script src="{{assets}}/js/bootstrap.min.js"></script>
    <script src="{{assets}}/js/modernizr.js"></script>
    <script src="{{assets}}/js/fastclick.js"></script>
    <script src="{{assets}}/js/jquery.unveil.js"></script>
    <!-- /build -->

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function(){
            cloader=document.getElementById("canvasloader-container")
            cloader.classList.remove("loader");
            cloader=document.getElementsByTagName("html")
            cloader[0].classList.remove("loader");
            cloader=document.getElementsByTagName("body")
            cloader[0].classList.remove("loader");
            cl.hide();
        });

        $(document).ready(function(){
            $("img").unveil();
            
            $(function() {
                FastClick.attach(document.body);
            });

            var directions = $('#coming-to-serbia-by-plane ~ h4');
            directions.next().hide();
            directions.click(function(){$(this).next().slideToggle("");});

            $("img").trigger("unveil");
        });
    </script>
</body>
</html>
